USE [master]
GO
/****** Object:  Database [NGOTHILEStudent]    Script Date: 9/26/2026 9:20:36 AM ******/
CREATE DATABASE [NGOTHILEStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGOTHILEStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NGOTHILEStudent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGOTHILEStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NGOTHILEStudent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGOTHILEStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGOTHILEStudent]
GO
/****** Object:  Table [dbo].[NGOTHILEStudent]    Script Date: 9/26/2026 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGOTHILEStudent](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NgothileName] [nchar](50) NULL,
	[NgothileGender] [nchar](50) NULL,
	[NgothileBirthday] [datetime] NULL,
	[NgothileEmail] [nchar](30) NULL,
	[NgothilePhone] [char](12) NULL,
	[NgothileActive] [bit] NULL,
 CONSTRAINT [PK_NGOTHILEStudent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
